variables:
  AWS_BUILD_SUBDIR: provider/delivery-aws/build-aws
  AWS_TEST_SUBDIR: testing/delivery-test-aws
  AWS_SERVICE: delivery
  AWS_ENVIRONMENT: dev

  IBM_BUILD_SUBDIR: provider/delivery-ibm
  IBM_INT_TEST_SUBDIR: testing/delivery-test-ibm

  AZURE_SERVICE: delivery
  AZURE_BUILD_SUBDIR: provider/delivery-azure
  AZURE_TEST_SUBDIR: testing/delivery-test-azure

  # --- osdu gcp specific variables ---
  # OSDU_BUILD_SUBDIR: provider/file-gcp-datastore
  # OSDU_INT_TEST_SUBDIR: testing/file-test-core
  OSDU_GCP_SERVICE: delivery
  OSDU_GCP_VENDOR: gcp
  OSDU_GCP_APPLICATION_NAME: os-delivery
  OSDU_GCP_ENV_VARS: GCP_ENTITLEMENTS_URL=$OSDU_GCP_ENTITLEMENTS_URL,GCP_SEARCH_QUERY_URL=$OSDU_GCP_SEARCH_QUERY_URL,GCP_REDIS_HOST=$REDIS_GROUP_HOST --vpc-connector=$OSDU_GCP_VPC_CONNECTOR

include:
  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'standard-setup.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'build/maven.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'scanners/fossa.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'scanners/gitlab-ultimate.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'publishing/pages.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'cloud-providers/aws.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'cloud-providers/ibm.yml'

  - project: "osdu/platform/ci-cd-pipelines"
    ref: 'v0.4.3'
    file: 'cloud-providers/osdu-gcp-cloudrun.yml'

  - project: 'osdu/platform/ci-cd-pipelines'
    ref: 'v0.4.3'
    file: 'cloud-providers/azure.yml'

# disable the eslint scanner
# I think this is being generated from the presence of an HTML file, but there
# is no javascript to scan, so the job isn't helpful and just gets in the way
eslint-sast:
  rules:
    - when: never

osdu-gcp-test:
  allow_failure: false
  variables:
    DEFAULT_DATA_PARTITION_ID_TENANT2: osdu
